.KanbanView {
    flex: 1 0 40%;
    text-align: center;

    img {
        width: 860px;
        box-sizing: border-box;
        padding: 5px;
    }

    h2 {
        margin: 0;
        padding: 1em 0;;
    }

    @media (max-width: 860px) {
        img {
            width: 100%;
        }
    }
}