.login-container {
  display: flex;
  background-color: rgb(187, 186, 185);

  .login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em auto;
    width: 60%;
    min-width: 500px;
    max-width: 700px;
    background-color: white;
    border-radius: 20px;

    h3 {
      text-transform: uppercase;
      margin-bottom: 2em;
      font-size: 2em;
    }

    input {
      border-radius: 8px;
      border: 0.5px solid black;
      width: 50%;
      padding: 1em;

      &:focus {
        outline: 1px solid #00798C;
      }

    }

    label {
      text-align: left;
      width: 50%;
      margin: 0.5em 0 3em;
    }
  }

  button {
    width: 50%;
    height: 3em;
    font-size: 15px;
    background-color: #30638E;
    color: white;
    border-radius: 10px;
    border: none;
    transition: 150ms ease-in-out;

    &:hover {
      background-color: #1f405b;
    }
  }
}