.not-found-container {
  flex-grow: 1;
  text-align: center;

  img {
    width: 860px;
    box-sizing: border-box;
    padding: 5px;
  }

  h3 {
    margin: 0;
    padding-top: 1em;
  }

  @media (max-width: 860px) {
    img {
      width: 100%;
    }
  }
}

