.TableView {
  background-color: #E0E1DD;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 5px;
  overflow: auto;

  table {
    /* 
    "In the collapsing border model, it is possible to specify borders that 
    surround all or part of a cell, row..." 
    - "https://www.w3.org/TR/CSS21/tables.html#borders" 
    */
    border-collapse: collapse;
    margin: auto;
    height: fit-content;

    tr {
      height: 100%;
      text-align: center;

      &:first-child {

        td.button-cell {
          button {
            display: block;
            box-sizing: border-box;
            border: none;
            border-top: 1px solid black;
            border-left: 1px solid black;
            border-right: 1px solid black;
            height: 45px;
            width: 1em;
            padding: 0;

          }
        }

      }



      &#add-job-button-row {

        td {
          border-bottom: 1px solid black;

          button:hover {
            padding: 0;
            border: none;
            background-color: rgb(208, 208, 208);
          }
        }



      }


    }

    td {
      box-sizing: border-box;
      min-height: 45px;
      background-color: white;
      border-bottom: 1px solid black;
      padding: 0 5px;



      div.input-container {
        box-sizing: border-box;
        height: 100%;

        input[type="text"],
        input[type="date"] {
          padding: 0;
          border: 1px solid black;
          height: 45px;
          text-align: center;
          font-size: inherit;
          font-family: inherit;
          width: 100%;
          overflow: auto;
        }

        <<<<<<< HEAD input {
          padding: 0 2px;
        }

        =======>>>>>>>c8029211 (merging) span.input-width-indicator {
          visibility: hidden;
          color: rgb(88, 146, 0);
          left: 0;
          position: absolute;
          white-space: pre;
          padding: 3px;
        }

        span.cell-input-error {
          color: red;
        }

        span.cell-input-error {
          color: red;
        }
      }

      &.button-cell {
        background-color: transparent;
        padding: 0;



        button {
          display: block;
          box-sizing: border-box;
          border: none;
          border-top: 1px solid black;
          border-left: 1px solid black;
          border-right: 1px solid black;
          height: 100%;
          width: 100%;
          padding: 0;

        }
      }
    }

    thead {
      tr:first-child {
        background-color: transparent;
      }
    }

    th {
      background-color: #D1495B;
      width: 5em;
      color: white;
    }

    th:first-child {
      border-top-left-radius: 10px;
      width: 5em;
    }

    th:last-child {
      border-top-right-radius: 10px;
      width: 5em;
    }


    #add-job-button-row button {
      border: none;
      border-radius: 5px;
      padding: 0;
      background-color: transparent;

      svg {
        fill: #32D89C;
        height: 1.25em;
        width: 1.25em;
        vertical-align: middle;
      }


    }

    #add-job-button-row button:active {

      &:active {
        background-color: rgb(177, 177, 177);
      }

      &:hover svg {
        fill: green;
      }
    }

  }
}

input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
}

.td-flex-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.check {
  display: inline-block;
  height: 1em;
  width: 1em;


  svg {
    display: block;
    box-sizing: border-box;
    height: 1em;
    width: 1em;
    fill: none;
    border: 1px solid black;
  }


}

input[type="checkbox"]:checked+label svg {
  background-color: #EDAE49;
  fill: rgb(0, 0, 0);
}