.landing {
  padding: 3em;
  text-align:center;
}
.landing-title-one {
  font-size: 4em;
  z-index: 10;
}
.landing-title-two {
  font-size: 2em;
  z-index: 10;
}
.landing-image {
  top: 60%;
  max-width: 100%;
}
.login-btn {
  text-decoration: none;
  padding: 0.5em 2em;
  background-color: #00798c;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  margin: 1em 0;
  color: #00798c;
  outline: 1px solid #00798c;
  background-color: white;
  transition: 150ms ease-in-out;
  cursor: pointer;
}
.login-btn:hover{
  background-color: #00798c;
  color: white;
}
.sign-up-btn{
  color: #30638e;
}