.nav {
  width: 100%;
  background-color: #30638E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 10em;
  margin: 0 !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}
.nav-logo {
  color: white;
  cursor: pointer;
  padding: 1em 2em;
  text-decoration: none;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.nav-logo-big {
  font-size: 2em;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.nav-logo-small {
  letter-spacing: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-logo:hover {
  color: rgb(227, 225, 225);
}
.nav-menu {
  list-style: none;
  padding: 1em;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.nav-menu a {
  border: 1px solid white;
  padding: 0.25em 0.5em;
  color: white;
  border-radius: 8px;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  margin: 0 0.5em;
  cursor: pointer;
  text-decoration: none;
}
.nav-menu a:hover {
  background-color: white;
  color: #30638E;
}
.nav-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: calc(10em - 16px);
  width: 100%;
  background-color: #30638E;
  margin: none !important;
  padding: 1em;
  z-index: 1000;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.nav-dropdown a {
  width: 100%;
  text-align: center;
  text-decoration: none;
  padding: 0.5em;
  color: white;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}
.nav-dropdown a:hover {
  background-color: white;
  color: #30638E;
}

.toggle-dropdown {
  font-size: 3em;
  margin-right: 1em;
  color: white;
  padding: 0.08em;
  border-radius: 8px;
  -webkit-transition: 50ms ease-in-out;
  transition: 50ms ease-in-out;
  cursor: pointer;
}
.toggle-dropdown:hover {
  outline: 1px solid white;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: none;
  }
}
@media screen and (min-width: 769px) {
  .nav-dropdown,
.toggle-dropdown {
    display: none;
  }
}